<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/layout/head :: head"></div>
</head>
<!-- Header -->
<div th:replace="/layout/header :: header"></div>
<body>
<!-- Side bar -->
<div th:replace="/layout/sidebar :: sidebar"></div>

<div class="container-fluid">
    <h2 class="text-center">Cập nhật sản phẩm chi tiết</h2>
    <main id="main" class="main">
        <form th:object="${sanPhamChiTiet}" th:action="@{/admin/spct/update/{id}(id=${sanPhamChiTiet.id})}" method="post">
            <!-- Input mã -->
            <div class="mt-3">
                <label for="ma" class="form-label">Mã</label>
                <input type="text" th:field="*{maSpct}" class="form-control" id="ma" placeholder="Nhập mã"/>
            </div>
            <!-- Hiển thị lỗi nếu có -->
            <div th:if="${#fields.hasErrors('maSpct')}" style="color: red" th:errors="*{maSpct}"></div>

            <!-- Dropdown chọn sản phẩm -->
            <div class="mt-3">
                <label class="form-label">Tên sản phẩm</label>
                <select th:field="*{sanPham.id}" class="form-select">
                    <option value="">Chọn một sản phẩm</option>
                    <option th:each="pr : ${product}" th:value="${pr.id}" th:text="${pr.ten}"></option>
                </select>
                <div th:if="${#fields.hasErrors('sanPham')}" style="color: red" th:errors="*{sanPham}"></div>
            </div>
            <!-- Hiển thị lỗi nếu có -->

            <!-- Dropdown chọn màu sắc -->
            <div class="mt-3">
                <label class="form-label">Tên màu sắc</label>
                <select th:field="*{mauSac.id}" class="form-select">
                    <option value="">Chọn một màu sắc</option>
                    <option th:each="pr : ${color}" th:value="${pr.id}" th:text="${pr.ten}"></option>
                </select>
                <div th:if="${#fields.hasErrors('mauSac')}" style="color: red" th:errors="*{mauSac}"></div>
            </div>

            <!-- Dropdown chọn kích thước -->
            <div class="mt-3">
                <label class="form-label">Tên kích cỡ</label>
                <select th:field="*{kichThuoc.id}" class="form-select">
                    <option value="">Chọn một kích cỡ</option>
                    <option th:each="pr : ${size}" th:value="${pr.id}" th:text="${pr.ten}"></option>
                </select>
                <div th:if="${#fields.hasErrors('kichThuoc')}" style="color: red" th:errors="*{kichThuoc}"></div>
            </div>

            <!-- Input số lượng -->
            <div class="mt-3">
                <label class="form-label">Số lượng</label>
                <input type="number" th:field="*{soLuong}" class="form-control" id="soLuong"
                       placeholder="Nhập số lượng"/>
                <div th:if="${#fields.hasErrors('soLuong')}" style="color: red" th:errors="*{soLuong}"></div>
            </div>
            <!-- Input giá -->
            <div class="mt-3">
                <label class="form-label">Giá</label>
                <input type="number" th:field="*{donGia}" class="form-control" id="gia" placeholder="Nhập giá"/>
                <div th:if="${#fields.hasErrors('donGia')}" style="color: red" th:errors="*{donGia}"></div>
            </div>
            <!-- Dropdown chọn trạng thái -->
            <div class="mt-3">
                <label class="form-label" for="trangThai">Trạng thái</label>
                <select th:field="*{trangThai}" class="form-select" id="trangThai">
                    <option value="">Lựa chọn</option>
                    <option value="0">Active</option>
                    <option value="1">Inactive</option>
                </select>
                <div th:if="${#fields.hasErrors('trangThai')}" style="color: red" th:errors="*{trangThai}"></div>
            </div>
            <!-- Button submit -->
            <button class="btn btn-primary mt-3" type="submit">Cập nhật</button>
        </form>
    </main>
</div>

<!-- End #main -->
<!-- ======= Footer ======= -->
<div th:replace="/layout/footer :: footer"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div th:replace="/layout/script :: script"></div>

</body>
</html>
