<div th:fragment="script">
  <!-- Vendor JS Files -->
  <script th:src="@{/css/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/css/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/css/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/css/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/css/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/css/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/css/assets/vendor/php-email-form/validate.js}"></script>
  <!-- Template Main JS File -->
  <script th:src="@{/css/assets/js/main.js}"></script>

<!--  <script src="@{/css/assets/css/assets/vendor/apexcharts/apexcharts.min.js}"></script>-->
<!--  <script src="@{/css/assets/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--  <script src="@{/css/assets/css/assets/vendor/chart.js/chart.umd.js}"></script>-->
<!--  <script src="@{/css/assets/css/assets/vendor/echarts/echarts.min.js}"></script>-->
<!--  <script src="@{/css/assets/css/assets/vendor/quill/quill.min.js}"></script>-->
<!--  <script src="@{/css/assets/css/assets/vendor/simple-datatables/simple-datatables.js}"></script>-->
<!--  <script src="@{/css/assets/css/assets/vendor/tinymce/tinymce.min.js}"></script>-->
<!--  <script src="@{/css/assets/css/assets/vendor/php-email-form/validate.js}"></script>-->
<!--  &lt;!&ndash; Template Main JS File &ndash;&gt;-->
<!--  <script src="@{css/assets/css/assets/js/main.js"></script>-->
</div>