<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/layout/head :: head"></div>
</head>
<!-- Header -->
<div th:replace="/layout/header :: header"></div>
<body>
<!-- Side bar -->
<div th:replace="/layout/sidebar :: sidebar"></div>

<div class="container-fluid">
    <h2 class="text-center">Cập nhật nhân viên</h2>
    <main id="main" class="main">
        <form th:object="${employee}" th:action="@{/admin/employee/update/{id}(id=${employee.id})}" action="#" method="post">
            <div>
                <label th:text="maNV" for="maNV" class="form-label"></label>
                <input type="text" th:field="*{maNV}" class="form-control" id="maNV" placeholder="Nhập mã"/>
            </div>
            <div>
                <label class="form-label" th:text="Tên" for="ten"></label>
                <input type="text" th:field="*{ten}" class="form-control" id="ten" placeholder="Nhập tên"/>
            </div>
            <div>
                <label class="form-label" th:text="Username" for="ten"></label>
                <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Nhập username"/>
            </div>
            <div>
                <label class="form-label" th:text="Password" for="ten"></label>
                <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Nhập password"/>
            </div>
            <div>
                <label class="form-label" th:text="${trangThai}" for="trangThai"></label>
                <select class="form-select" th:field="*{trangThai}" id="trangThai">
                    <option value="">Lựa chọn</option>
                    <option value="0">Active</option>
                    <option value="1">Inactive</option>
                </select>
            </div>
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
            </div>
            <button class="btn btn-success" type="submit">Save</button>
        </form>
    </main>
</div>

<!-- End #main -->
<!-- ======= Footer ======= -->
<div th:replace="/layout/footer :: footer"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div th:replace="/layout/script :: script"></div>

</body>
</html>
