<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/layout/head :: head"></div>
</head>
<!-- Header -->
<div th:replace="/layout/header :: header"></div>
<body>
<!-- Side bar -->
<div th:replace="/layout/sidebar :: sidebar"></div>

<div class="container-fluid">
    <h2 class="text-center">Thêm mới màu sắc</h2>
    <main id="main" class="main">
        <form th:object="${category}" th:action="@{/admin/category/store}" method="post">
            <div>
                <label for="ma" class="form-label">Mã</label>
                <input type="text" name="ma" class="form-control" id="ma" placeholder="Nhập mã"/>
                <!-- Hiển thị thông báo lỗi -->
                <span class="text-danger" th:if="${error}" th:text="${error}"></span>
            </div>
            <div>
                <label for="ten" class="form-label">Tên</label>
                <input type="text" name="ten" id="ten" class="form-control" placeholder="Nhập tên"/>
                <!-- Hiển thị thông báo lỗi -->
                <span class="text-danger" th:if="${error1}" th:text="${error1}"></span>
            </div>
            <div>
                <label for="trangThai" class="form-label">Trạng thái</label>
                <select class="form-select" name="trangThai" id="trangThai">
                    <option value="">Lựa chọn</option>
                    <option value="0">Active</option>
                    <option value="1">Inactive</option>
                </select>
                <span class="text-danger" th:if="${error2}" th:text="${error2}"></span>
            </div>
            <button class="btn btn-success mt-3" type="submit">Save</button>
        </form>
    </main>
</div>


<!-- End #main -->
<!-- ======= Footer ======= -->
<div th:replace="/layout/footer :: footer"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div th:replace="/layout/script :: script"></div>

</body>
</html>
